/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Pacifico:300,400,500,600,700";
@import url(http://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:600);

@media screen {

  html {
    font-size: 20px;
  }

  body {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
    font-family: 'Poppins', sans-serif;
    color: rgba(0,0,0,0.8);
    letter-spacing: -0.02em;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    line-height: 1.5;
    text-align: left;

  }

  #thesis {
    width: calc(100% - 110px); 
    margin-left:55px;
    margin-top:45px;
  }


  header,
  article {
    box-sizing: border-box;
    max-width: 700px;
    margin: 3em auto 6em;
  }

  h1, h2, h3, h4, h5, h6,
  .title, .authors {
    font-family: 'Deja Vu', sans-serif;
  }
  
  title {
    font-family: 'Baskerville', serif;
  }

  p {
    line-height: 1.5;
  }

  a.latex {
    display: inline-block;
    text-decoration: none;
    height: 21px;
    border-bottom: 1px solid rgba(0,0,0,0.8);
  }
  code {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
  }

  table {
    margin: 2em auto 3em;
  }

  th, td {
    border-width: 1px;
  }

  header h2 {
    margin: 0 0 2em;
  }

  .title {
    font-size: 36px;
  }

  .author {
    font-size: 14px;
  }

  .author :first-child,
  .author :last-child {
    font-size: 20px;
  }

  code a,
  .author a {
    text-decoration: underline;
  }

  .equation {
    width: 100%;
    overflow-x: scroll;
    margin: 2rem 0 3rem;
    -webkit-scrollbar {
      -webkit-appearance: none;
      width: 7px;
    }
    -webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: rgba(0, 0, 0, .5);
      -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
    }
  }

  .footnotes {
    margin-top: 3em;
    padding-top: 1em;
    border-top: 1px solid #000;
  }

  footnote {
    display: block;
    position: relative;
    margin: 0 0 1em;
    padding-left: 1.5em;
    font-size: 15px;
  }

  footnote:before {
    content: attr(data-counter);
    position: absolute;
    left: 0;
  }

  cite,
  .footnote-ref {
    position: relative;
    cursor: pointer;
    margin-left: 2px;
  }

  .popup {
    z-index: 100;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    padding: 0.5em 1em;
    font-size: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
  }

  figure img,
  figure svg {
    cursor: pointer;
  }

  .lightbox {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
  }

  .lightbox img,
  .lightbox svg {
    z-index: 200;
    width: 100% !important;
    height: 100% !important;
  }
  .chapterHead {
    text-align: justify;
  }
  .maketitle {
    text-align: center;
  }
  .stuff {
    max-width: 850px;
    margin: auto;
  }
  #HASH {
    display: none;
  }
}

span.subsectionToc {
  text-indent: 50px;
}

span.subsubsectionToc {
  text-indent: 100px;
}


body {
    background: #fff;
}

p {
    font-family: 'Deja Vu', sans-serif;
    font-size: 0.95em;
    font-weight: 300;
    line-height: 1.6em;
}

.container-fluid {
    padding: 0px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
    outline: none;
    -moz-outline-style: none;
}

a.sidebar-font {
    font-family: 'Poppins', sans-serif;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    width: 200px;
    border: none;
    border-radius: 0;
    margin-bottom: 0px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.caret {
    width:100%;
}
.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 0px 0;
}

.hovercard {
  cursor: help;
}

.hovercard-title {
  font-size: 0.9em;
}

.hovercard-description {
  font-size: 0.65em;
}

.hovercard-element {
  background: none;
}


.hovercard-element .hovercard-description::after {
  background: none;
}
.hovercard-description::after {
  background: none;
}

.hovercard-element {
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
background-color: #fff;
}

.hovercard-arrow {
  border-bottom: 10px solid #fff;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #2770CA;
    color: #fff;
    transition: all 0.5s;
    font-family: 'Poppins', sans-serif;
    line-height: 0.9;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 10px;
    background: #153C6A;
}

#sidebar ul.components {
    padding: 10px 0px;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    color: #fff;
    padding: 10px;
    font-size: 0.9em;
    display: block;
}

#sidebar ul li a:hover {
    color: #011F5B;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #4782EA;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #315AA2;
}

ul.CTAs {
    padding: 10px;
    background: #153C6A;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    border-width: thin;
}

#sidebar  a.download {
    color: #011F5B;
    background: #fff;
}
#sidebar a.download:hover {
    color: #fff;
    background: #66B27A;
}


a.article,
a.article:hover {
    background: #011F5B !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 0px;
    margin: 0px;
    border: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}
p.content-one {
      display:none;
}

.btn-xs {
  width:200px;
}
.dropdown-menu {
  width:700px;
}

.box {

}

.btn {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
	transition: all 0.3s ease;
}
.btn:hover {
  background: #eef;
}

.zoom {
  bottom: 190px;
}

.zoom-out {
  bottom: 120px;
}
.zoom-init {
  bottom: 50px;
}

#content figcaption {
  font-size: 0.6em;
}

div.caption { 
  font-size: 0.6em;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 968px) {
  #HASH {
    display: flex;
    justify-content: space-between;
  }
  .wrapper {
      display: relative;
  }
  #sidebar {
    margin-left: -250px;
    overflow-x: hidden;
  }
  #sidebar.active {
    margin-left: 0;
    overflow-x: hidden;
  }
  #content {
    width: 100%;
  }
  .dropdown-menu {
    width:500px;
  }

  #thesis {
    width: calc(100% - 70px); 
    margin-left:40px;
    margin-top:10px;
  }
  header,
  article {
    margin: 0 auto;
    width: 100%;
    padding: 2em;
  }

  figure img,
  figure svg {
    max-width: 100%;
  }

  .authors {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }

  .author {
    -webkit-column-break-after: auto;
    margin-bottom: 2em;
  }

  .equation {
    width: 100%;
    overflow-x: scroll;
  }

  .popup {
    position: absolute;
    width: 150px;
    left: -75px;
  }

  .popup img,
  .popup svg {
    margin: 0 !important;
  }
}
